@font-face {
  font-family: "Demarus";
  src: url("../assets/fonts/DEMARUS.otf");
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Demarus", sans-serif;
  color: white;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  z-index: 1;
}

/* Pengaturan Layar Poin Draft Pick */
.points-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  z-index: 2; /* Muncul di atas background */
  object-fit: cover;
  pointer-events: none;
}

.data-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  z-index: 3; /* Teks di layer teratas (3) */
}

#MatchText {
  position: absolute;
  top: 255px; /* Sesuaikan turun/naiknya dari desain */
  right: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  width: 300px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

#StageText {
  position: absolute;
  top: 235px; /* Sesuaikan turun/naiknya dari desain, biasanya di bawah match */
  right: 0px;
  font-size: 24px;
  text-align: center;
  width: 300px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}
