@font-face {
  font-family: "Demarus";
  src: url("../assets/fonts/DEMARUS.otf");
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Demarus", sans-serif;
  color: white;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  z-index: 1;
}

/* Pengaturan Layar Poin Draft Pick */
.points-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  z-index: 2; /* Muncul di atas background */
  object-fit: cover;
  pointer-events: none;
}

.data-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  z-index: 3; /* Teks di layer teratas (3) */
}

#MatchText {
  position: absolute;
  bottom: 66px;
  right: 707px;
  font-family: "Poppins", sans-serif;
  font-size: 80px;
  font-weight: 900;
  text-align: center;
  width: 500px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

#StageText {
  position: absolute;
  bottom: 57px;
  right: 755px;
  font-size: 61px;
  text-align: center;
  width: 400px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

#teksTimKiri {
  position: absolute;
  top: 11px;
  left: 16px;
  font-size: 74px;
  word-spacing: -10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

#teksTimKanan {
  position: absolute;
  top: 11px;
  right: 16px;
  font-size: 74px;
  word-spacing: -10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

/* Pengaturan Posisi Caster di Draft Pick */
#Caster {
  position: absolute;
  top: 102px;
  left: 13%;
  transform: translateX(-50%);
  font-size: 43px;
  text-align: center;
  width: 400px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
